body {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

#ColorwheelAnimation {
	height: 900px;
}

@keyframes spinType {
	0% {
		transform: rotate(0turn);
	}
	100%{
		transform: rotate(1turn);
	}
}

div.container {
	animation-duration: 2s;
	animation-name: spinType;
	animation-timing-function: ease-in-out;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}

h1, h2, h3, h4, h5 {
  font-family: 'Libre Calson Text', serif;
  margin-bottom:0.5rem;
}

h1 {
  font-size:2.75rem;
  font-weight:800;
  color: #F779AB;
}
h2 {
  font-size:2.25rem;
}
h3 {
  font-size:1.0rem;
  font-weight:300;

}
h4 {
  font-size:1rem;
}


.subtitle {
  font-family: 'Sen', sans-serif;
  font-weight:-200;
  font-size: 1.0rem;
  line-height: 1.0rem;
  color: #242320;
  text-align: center;
  margin-left: 0.5rem;
}