html {
  font-family: 'Cormorant SC', serif;
  width: auto;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: black;
}

/*CTTL=Centertotopleft, CTTR=Centertotopleft, CTBL=Centertobottomleft, CTBR=Centertobottomright*/

/* this is a break between diff divs */

/* this is a break between diff divs */

div.hexagon {
  width: 35px;
  height: 35px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 45%; /* Stay at the top */
  left: 50%;
  background-color: #000000; 
  overflow-x: hidden; /* Disable horizontal scroll */
  animation: hexagon 3s ease-in-out infinite forwards;
  transition: all 1.5s ease-in-out;
  transform-origin: 50% 50%;
}

@keyframes hexagon {
  0% {
    transform:  scale(1.0) rotate(0deg) ; 
  }

  50% {
    transform:  scale(0.7) rotate(180deg) ; 
  }

  100% {
    transform:  scale(1.0) rotate(360deg) ; 
  }

}

.hexagon:hover {
  cursor: pointer;
  filter: invert(0.5) sepia(1) hue-rotate(315deg) saturate(10) brightness(1);
  transform: scale(1.8)
}


div.mvx {
  position: absolute;
  height: 5px;
  width: 5px;
  margin-left: 50%; 
  margin-top: 22%;
  animation: mvx 6s ease-in 3s infinite forwards, fade 6s ease-in;
}

 
@keyframes mvx {
  0% {
    transform:  scale(0.1) translateX(0px) translateY(0px) translateZ(0px) ; 
  }

  100% {
    transform:  scale(1.0) translateX(500px) translateY(-600px) translateZ(0px) ; 
  }
}

@keyframes fade {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

/* this is a break between diff divs */

div.qwtklm {
  position: absolute;
  height: 5px;
  width: 5px;
  margin-left: 50%; 
  margin-top: 22%;
  animation: qwtklm 6s ease-in 0s 1 forwards ;
}


@keyframes qwtklm {
  0% {
    transform:  scale(0.1) translateX(0px) translateY(0px) translateZ(0px) ; 
  }

  100% {
    transform:  scale(1.0) translateX(200px) translateY(600px) translateZ(0px) ; 
  }
}

/* this is a break between diff divs */

div.lsienib{
  position: absolute;
  height: 5px;
  width: 5px;
  margin-left: 50%; 
  margin-top: 22%;
  animation: lsienib 6s ease-in 0s 1 forwards ;
}


@keyframes lsienib {
  0% {
    transform:  scale(0.1) translateX(0px) translateY(0px) translateZ(0px) ; 
  }

  100% {
    transform:  scale(1.0) translateX(600px) translateY(400px) translateZ(0px) ; 
  }
}

/* this is a break between diff divs */

div.aleunrib{
  position: absolute;
  height: 5px;
  width: 5px;
  margin-left: 50%; 
  margin-top: 22%;
  animation: aleunrib 6s ease-in 0s 1 forwards ;
}


@keyframes aleunrib {
  0% {
    transform:  scale(0.1) translateX(0px) translateY(0px) translateZ(0px) ; 
  }

  100% {
    transform:  scale(1.0) translateX(300px) translateY(-400px) translateZ(0px) ; 
  }
}

/* this is a break between diff divs */

div.azsivn{
  position: absolute;
  height: 5px;
  width: 5px;
  margin-left: 50%; 
  margin-top: 22%;
  animation: azsivn 6s ease-in 0s infinite forwards ;
}


@keyframes azsivn {
  0% {
    transform:  scale(0.1) translateX(0px) translateY(0px) translateZ(0px) ; 
  }

  100% {
    transform:  scale(1.0) translateX(-700px) translateY(-400px) translateZ(0px) ; 
  }
}

/* ykfre same position as azsivn */

div.ykfre{
  position: absolute;
  height: 5px;
  width: 5px;
  margin-left: 50%; 
  margin-top: 22%;
  animation: ykfre 6s ease-in 3s infinite forwards ;
}


@keyframes ykfre {
  0% {
    transform:  scale(0.1) translateX(0px) translateY(0px) translateZ(0px) ; 
  }

  100% {
    transform:  scale(1.0) translateX(-700px) translateY(-400px) translateZ(0px) ; 
  }
}

/* this is a break between diff divs */

div.diw{
  position: absolute;
  height: 5px;
  width: 5px;
  margin-left: 50%; 
  margin-top: 22%;
  animation: diw 6s ease-in 0s 1 forwards ;
}


@keyframes diw {
  0% {
    transform:  scale(0.1) translateX(0px) translateY(0px) translateZ(0px) ; 
  }

  100% {
    transform:  scale(1.0) translateX(-1500px) translateY(200px) translateZ(0px) ; 
  }
}

/* this is a break between diff divs */

div.qqocbdx{
  position: absolute;
  height: 5px;
  width: 5px;
  margin-left: 50%; 
  margin-top: 22%;
  animation: qqocbdx 6s ease-in 0s 1 forwards ;
}


@keyframes qqocbdx {
  0% {
    transform:  scale(0.1) translateX(0px) translateY(0px) translateZ(0px) ; 
  }

  100% {
    transform:  scale(1.0) translateX(-1500px) translateY(0px) translateZ(0px) ; 
  }
}

/* this is a break between diff divs */

div.pekleubr{
  position: absolute;
  height: 5px;
  width: 5px;
  margin-left: 50%; 
  margin-top: 22%;
  animation: pekleubr 6s ease-in 0s 1 forwards ;
}


@keyframes pekleubr {
  0% {
    transform:  scale(0.1) translateX(0px) translateY(0px) translateZ(0px) ; 
  }

  100% {
    transform:  scale(1.0) translateX(1500px) translateY(0px) translateZ(0px) ; 
  }
}

/* this is a break between diff divs */

div.jbsehcse{
  position: absolute;
  height: 5px;
  width: 5px;
  margin-left: 50%; 
  margin-top: 22%;
  animation: jbsehcse 6s ease-in 0s 1 forwards ;
}


@keyframes jbsehcse {
  0% {
    transform:  scale(0.1) translateX(0px) translateY(0px) translateZ(0px) ; 
  }

  100% {
    transform:  scale(1.0) translateX(-800px) translateY(400px) translateZ(0px) ; 
  }
}

/* this is a break between diff divs */

div.szti{
  position: absolute;
  height: 5px;
  width: 5px;
  margin-left: 50%; 
  margin-top: 22%;
  animation: szti 6s ease-in 0s 1 forwards ;
}


@keyframes szti {
  0% {
    transform:  scale(0.1) translateX(0px) translateY(0px) translateZ(0px) ; 
  }

  100% {
    transform:  scale(1.0) translateX(-450px) translateY(450px) translateZ(0px) ; 
  }
}





/*
transform: translateX(0px) translateY(0px) translateZ(0px)
transform: translateX(300px) translateY(350px) translateZ(0px);

visibility: visible
visibility:hidden

/*
div.position1 {
  animation-duration: 6s;
  animation-name: positiona;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  align-self: center;
  z-index: -1;
}


@keyframes positiona {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px); 
  }
  
  100% {
    transform: translateX(300px) translateY(350px) translateZ(0px);
  }
}
}



div.position2 {
  animation-duration: 6s;
  animation-name: positionb;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes positionb {
  0% {
    transform: translateX(0px) translateY(0px) translateZ(0px); 
  }
  
  100% {
    transform: translateX(20px) translateY(500px) translateZ(0px);
  }
}
}


@keyframes name of keyframes {
  0% {
    transform: rotate(0turn);
  }
  50%{
    transform: rotate(0.999turn);
  }
  100%{
    transform: rotate(1turn);
  }
}
*/

.superword {
  font-family:'Cormorant SC', serif;
  font-size: 7rem;
  font-weight: 700px;
  text-align: center;
  color: white;
}

.largeword {
  font-family:'Cormorant SC', serif;
  font-size: 5rem;
  font-weight: 700px;
  text-align: center;
  color: white;
}

.midword {
  font-family:'Cormorant SC', serif;
  font-size: 1.5rem;
  font-weight: 700px;
  text-align: center;
  color: white;
}

.smallword {
  font-family:'Cormorant SC', serif;
  font-size: 0.8rem;
  font-weight: 700px;
  text-align: center;
  color: white;
}

.tinyword {
  font-family:'Cormorant SC', serif;
  font-size: 0.3rem;
  font-weight: 700px;
  text-align: center;
  color: white;
}


.colorwhite {
  color:#FFFFFF;
}

a {
  font-family: 'Cormorant SC', serif;
  text-decoration: none;
  font-size: ;
  line-height: ;
  color: ;
}

a:hover, h3:hover{
  color: red;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
  align-content: ;
}

h1, h2, h3, h4, h5 {
  font-family: 'Cormorant SC', serif;
}

h1 {
  font-size:2.75rem;
}
h2 {
  font-size:2.25rem;
}
h3 {
  font-size:1.0rem;

}

@media (max-width:700px) {
  body {
  background-color: white;
}
  .superword {
  font-family:'Cormorant SC', serif;
  font-size: 7rem;
  font-weight: 700px;
  text-align: center;
  color: black;
}

.largeword {
  font-family:'Cormorant SC', serif;
  font-size: 5rem;
  font-weight: 700px;
  text-align: center;
  color: black;
}

.midword {
  font-family:'Cormorant SC', serif;
  font-size: 1.5rem;
  font-weight: 700px;
  text-align: center;
  color: black;
}

.smallword {
  font-family:'Cormorant SC', serif;
  font-size: 0.8rem;
  font-weight: 700px;
  text-align: center;
  color: black;
}

.tinyword {
  font-family:'Cormorant SC', serif;
  font-size: 0.3rem;
  font-weight: 700px;
  text-align: center;
  color: black;
}
  div.hexagon {
  width: 35px;
  height: 35px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 21%; /* Stay at the top */
  left: 50%;
  background-color: #000000; 
  overflow-x: hidden; /* Disable horizontal scroll */
  animation: hexagon 3s ease-in-out infinite forwards;
  transition: all 1.5s ease-in-out;
  transform-origin: 50% 50%;
}

  .cls-1{fill:#FFFFFF;}
  .cls-2{fill:#000000;}

@media (max-width:1000px) {

}