@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('http://domain.com/fonts/font.ttf'); /*URL to font*/
}

html {
  
}

body {
  background: white;
  margin-top: 50px;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

a {
  font-size: 1.5rem;
  line-height: 4rem;
  font-family: fino-sans, sans-serif;
  font-weight: 400;
  text-decoration-line: none;
  font-style: normal;
  color: black;
}

a:hover {
  background-color: black;
  color: white;
}

.home {
  padding-left: 90%;
  padding-top: 0.8rem;
  width: 1.2rem;
  position: fixed;
  flex-direction: column;
  height: 900px;
}

.title0 {
  text-align: left;
  font-family: fino-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  font-size: 8rem;
  margin-left: 20%;
  margin-top: 20%;
  mix-blend-mode: exclusion;
  color: black;
}

h3 {
  font-size: 0.8rem;
  line-height: 1.8rem;
  position: block;
  margin-left: 5rem;
}

h2 {
  font-size: 1rem;
  line-height: 1.8rem;
  position: block;
  margin-left: 5rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.8rem;
  position: block;
}

h2:hover {
  margin-left: 20rem;
  line-height: 4rem;
  transform: scale(1.5);
  text-decoration-line: underline;
  position: left;
  align-content: center;
}


span {
  transition: 0.4s ease-in-out;
  cursor: pointer;
  opacity: 100%;
}

span.yellow {
  opacity: 1;
}


a {
  transition: 0.4s ease-in-out;
  cursor: pointer;
  opacity: 100%;
}

a.yellow {
  opacity: 1;
}

