body {
	margin-bottom: 0.5rem;
  margin-left: 6rem;
  margin-right:6rem;
  width: auto;
  height: auto;
  margin-top: 5rem;
}

html {
  font-family: 'Quicksand', sans-serif;
}

.title0 {
  font-family: 'Poiret One', cursive;
  font-size: 6rem;
  text-align: center;
  background-color: white;
}

h1, h2, h3, h4, h5 {
  font-family: 'Quicksand', sans-serif;
  margin-bottom:0.5rem;
}

h1 {
  font-size:2.75rem;
}
h2 {
  font-size:2.25rem;
}
h3 {
  font-size:1.0rem;
  font-weight:300;

}