@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('http://domain.com/fonts/font.ttf'); /*URL to font*/
}

body {
  background: white;
  margin-top: 50px;
  font-family: 'Quicksand', sans-serif;
}

.title0 {
  text-align: center;
  font-family: fino-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  font-size: 8rem;
  margin-left: 27%;
  margin-top: 20%;
  mix-blend-mode: exclusion;
  color: black;

}

/*
.backgroundimage {
  width: 120%;
  height: 120%;
  position: fixed;
  transform: rotate(270deg);
}
*/

.image-container {
  background-color: black;
  margin-bottom: 5rem;
  margin-top: 5rem;
  width: 300px;
  height: 160px;
  position: absolute;
}

.video-container {
  background-color: black;
  margin-bottom: 5rem;
  margin-top: 5rem;
  width: 200px;
  height: 160px;
  position: absolute;
}

.hand-image {
  width: 160px;
  height: 160px;
  position: absolute;
}

.hand-video {
  width: 160px;
  height: 160px;
  position: absolute;
}

.letter-text {
  font-size: 1rem;
  line-height: 1.8rem;
  position: block;
  margin-left: 5rem;
}

.leftbar-container{
  width: 100px;
  height: 50px;
  position: absolute;
}

.filter {
  padding: 2rem;
}

h3 {
  font-size: 0.8rem;
  line-height: 1.8rem;
  position: block;
  margin-left: 5rem;
}

h2 {
  font-size: 1rem;
  line-height: 1.8rem;
  position: block;
  margin-left: 5rem;
}

h2:hover {
  margin-left: 20rem;
  line-height: 4rem;
  transform: scale(1.5);
  text-decoration-line: underline;
  position: left;
  align-content: center;
}