html {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  background-color: #f3f4f8;
  overflow-x: hidden;
  /*
  background-image: linear-gradient(
        to bottom,
        #f3f4f8 0px,
        #f3f4f8 800px,
        white 800px,
        white 1220px,
        #f3f4f8 1220px,
        #f3f4f8 3600px,
        black 3600px,
        black 3800px,
        white 3800px,
        white 5000px
    );
    height: 1000vh;
    margin: 0rem;
  */
}

body {
  padding:0rem;
  color:#FFFFFF;
  margin: 0rem;
  overflow-x: hidden;s
}

a {
  text-decoration: none;
  font-family: 'graphik', sans-serif;
  font-weight: 400;
  line-height: 0.1rem;
  color: black;
}

.linkfont a:hover {
  text-decoration: none;
  background-color: #BDEBFF;
}

main {
  display:grid;
  grid-template-columns
  grid-auto-rows:min-content;
  margin: 0 auto;
  grid-gap: 0.5rem;
}

.fade-in-image { animation: fadeIn 2s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


h1, h2, h3, h4, h5 {
  font-family: 'Libre Calson Text', serif;
}

h1 {
  font-size:2.75rem;
  font-weight:800;
  color: #F779AB;
}
h2 {
  font-size:2.25rem;
}
h3 {
  font-size:1.0rem;
  font-weight:300;

}
h4 {
  font-size:1rem;
}


li {
  font-size: 0.6rem;
  font-family: 'Libre Calson Text', serif;
  line-height: 1.2rem;
  padding: 0rem;
}

p {
  font-size: 0.6rem;
  line-height: 1.5;
  margin-bottom:1rem;
  color: #FFFFFF;
}

img {
  display: grid;
  margin: 0 auto;
}

.image {
  flex-basis: 70%;
  order: 2;
  align-self: left;
  width: 40px;
}

.imagecenter {
  flex-basis: 70%;
  order: 2;
  align-self: center;
  width: 40px;
}

.imageadd {
  flex-basis: 70%;
  order: 2;
  align-self: right;
  height: 300px;
}

.container {
        display: flex;
        align-items: left;
        justify-content: left;
      }

.title {
  font-family: 'graphik', sans-serif;
  font-weight: 500;
  font-size: 3.7rem;
  line-height: 4.2rem;
  letter-spacing: -5px;
    background-image: linear-gradient(to right, 
          #4DE1FF 30%, 
          #7EBAFF 40%, 
          #AA8EFF 50%, 
          #FF79B1 60%, 
          #FF8170 70%, 
          #FFC940 80%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  margin-bottom: 1.2rem;
  margin-top: 2.5rem;
}

.subtitle1 {
  font-family: 'graphik', sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  color: black;
}

.toptitle {
  font-family: 'graphik', sans-serif;
  font-weight: 400;
  font-size: 0.52rem;
  line-height: 0.6rem;
  letter-spacing: 0.3px;
  color: white;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.subtitle2 {
  font-family: 'Sen', sans-serif;
  font-weight:-200;
  font-size: 1rem;
  line-height: 1.1rem;
  color: #242320;
}

.subtitle3 {
  font-family: 'Sen', sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #242320;
}

.subtitle4 {
  font-family: 'graphik', sans-serif;
  font-weight: 450;
  font-size: 0.8rem;
  line-height: 1.1rem;
  letter-spacing: -0.25px;
  color: #848484;
}

.projecttitle {
  font-family: 'graphik', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.0rem;
  letter-spacing: -3px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.projectsub {
  font-family: 'graphik', sans-serif;
  font-weight: 350;
  font-size: 0.7rem;
  line-height: 0.85rem;
  letter-spacing: -0.2px;
  color: black;
  vertical-align: middle;
  display: inline-block;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}


.testtitle {
  font-family: 'graphik', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.3rem;
  letter-spacing: -5px;
  color: black;
  text-align: center;
}

.testtitle2 {
  font-family: 'graphik', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: -5px;
  color: black;
  text-align: center;
}

.quote {
  font-family: 'graphik', sans-serif;
  font-weight: 300;
  font-style: ;
  font-size: 0.7rem;
  line-height: 0.9rem;
  margin-bottom: 1rem;
  color: black;
  text-align: left;
}

.boxtext {
  font-family: 'graphik', sans-serif;
  font-weight: 300;
  font-style: ;
  font-size: 0.7rem;
  line-height: 0.9rem;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

.p1 {
  font-family: 'graphik', sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  line-height: 0.9rem;
  color: #242320;
  margin-bottom: 1rem;
}

.p2 {
  font-family: 'graphik', sans-serif;
  font-weight: 300;
  font-size: 0.6rem;
  line-height: 0.8rem;
  margin-left: 1rem;
  color: #242320;
}

.p3 {
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #000000;
  text-align: center;
}

.p4 {
  font-family: 'Sen', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  color: #000000;
  text-align: center;
}

/*
.p5black {
  font-family: 'graphik', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: black;
  text-align: left;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.5px;

}

.p6black {
  font-family: 'graphik', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: black;
  text-align: left;
  position: relative;
    letter-spacing: -0.25px;
}

.p7black {
  font-family: 'graphik', sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: black;
  text-align: left;
  position: relative;
}

.p5white {
  font-family: 'graphik', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: white;
  text-align: left;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.5px;
}



.p5whitecenter {
  font-family: 'graphik', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: white;
  text-align: center;
  position: relative;
  margin-top: 2rem;
  letter-spacing: -0.5px;
  margin-bottom: 0.5rem;
}

.p5bluepurple {
  font-family: 'graphik', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
background-image: linear-gradient(135deg, 
          #9AE7FF 15%, 
          #81ACFF 30%, 
          #DEB4FF 70%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: left;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.5px;
}

.p6white {
  font-family: 'graphik', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: white;
  text-align: left;
  position: relative;
  letter-spacing: -0.25px;
}

.p6whitecenter {
  font-family: 'graphik', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.1rem;
  color: white;
  text-align: center;
  position: relative;
  letter-spacing: -0.25px;
  margin-top: 0rem;
}

.p7white {
  font-family: 'graphik', sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 0.8rem;
  color: white;
  text-align: left;
  position: relative;
}

*/
.linkfont {
  font-family: 'graphik', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 2rem;
  color: #242320;
  margin-bottom: 1rem;
}

.linkfont2 {
  font-family: 'graphik', sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
  line-height: 1rem;
  color: #a2a2a2;
  margin-bottom: 0rem;
  margin-top: 0.5rem;
  text-decoration: underline;
  text-decoration-color: #a2a2a2;

}

.block1 {
 text-align: center;
 grid-column-start: 1;
 grid-column-end: span 2;
 margin-right:4rem;
 margin-left:4rem;
}

.float1 {
  width: 400px;
  height: auto;
  border-style: solid;
  border-color: black;
  padding: 50px;
  background-color: red;
  float: left;
  position: absolute;
}

.float2 {
  width: 400px;
  height: auto;
  border-style: solid;
  border-color: black;
  padding: 50px;
  background-color: red;
  float: right;
  position: absolute;
}
/*

.float1 {
 width: 40%;
 height: 70%;
 float: left;
 border-style: solid;
 border-color: black;
 padding: 70px 0;
 padding-left: 70px;
 text-align: center;
 position: relative;
 justify-content: center;
 vertical-align: middle;
}

.float2 {
 text-align: center;
 width: 40%;
 height: 70%;
 float: right;
 position: relative;
 border-style: solid;
 border-color: black;
 justify-content: center;
 vertical-align: middle;
 padding: 70px 0;
 padding-right: 70px;
}

.float3 {
 text-align: center;
 width: 30%
 height: 10%;
 float: top;
 margin-top: 70px;
 position: relative;
}

.float4 {
 width: 30%
 height: 10%;
 float: bottom;
 margin-top: 70px;
 position: relative;
}

*/

.blockline {
 text-align: center;
 grid-column-start: 1;
 grid-column-end: span 2;
 margin-right:4rem;
 margin-left:4rem;
}

.block2 {
 grid-column:1 / 2;
 text-align: left;
 margin-right:4rem;
 margin-left:4rem;
}

.block3 {
 grid-column:2 / 2;
 text-align: left;
 margin-right:4rem;
 margin-left:4rem;
}


.block4 {
 grid-column:1 / 2;
 text-align: center;
 margin-right:4rem;
 margin-left:4rem;
 vertical-align: middle;
 position: relative;
 align-items: center;
 padding-top: 55px;

}

.block5 {
 grid-column:2 / 2;
 text-align: center;
 margin-right:4rem;
 margin-left:4rem;
 vertical-align: middle;
 position: relative;
 align-items: center;
 padding-top: 55px;
}

.emptybox {
 grid-column:1 / 2;
 text-align: left;
 margin-top: 2rem;
 margin-bottom: 2rem;
}

.emptyboxsmall {
 grid-column:1 / 2;
 text-align: left;
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
}

.emptyboxbig {
 grid-column:1 / 2;
 text-align: left;
 margin-top: 3rem;
 margin-bottom: 3rem;
}

hr { 
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-width: 0.35px;
  color: black;
}


.square {
  grid-column-start: 1;
  grid-column-end: span 2;
  width: 100%;
  height: 500px;
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: 0px 0px 10px 10px #f2f2f2;
}

.squareblank {
  grid-column-start: 1;
  grid-column-end: span 2;
  width: 100%;
  height: 100%;
  align-content: center;
  display: grid;

}

.textbox {
  height: 50px;
  background-color: black;
  margin-top: 2rem;
}

.textboxwhite {
  height: 50px;
  background-color: white;
  margin-top: 2rem;
}
.block2_round_black {
 grid-column:1 / 2;
 background-color: black;
 height: 500px;
 border-radius: 1.2rem;
 margin-left:4rem;
}

.block3_round_black {
 grid-column:2 / 2;
 background-color: black;
 height: 500px;
 border-radius: 1.2rem;
 margin-right:4rem;
}

.block1_round_black {
 grid-column-start: 1;
 grid-column-end: span 2;
 text-align: center;
 background-color: black;
 height: 500px;
 border-radius: 1.2rem;
 margin-right:4rem;
 margin-left:4rem;
}

.block1_round_white {
 grid-column-start: 1;
 grid-column-end: span 2;
 text-align: center;
 background-color: white;
 height: 500px;
 border-radius: 1.2rem;
 margin-right:4rem;
 margin-left:4rem;
}

.block3_round_white {
 grid-column:2 / 2;
 background-color: white;
 height: 500px;
 border-radius: 1.2rem;
 margin-right:4rem;
}


.block3_round_black, .block1_round_black, .block2_round_black a:link, a:visited {
  border-radius: 1.2rem;
}

/*a:hover, a:active {
  background-color: red;
}*/

.hugeblock {
  grid-column-start: 1;
  grid-column-end: span 2;
  width: 100%;
  height: 100px;
  align-content: center;
  display: grid;
  background-color: linear-gradient(#f3f4f8 , #000000);
}

.bg1 {
  grid-column-start: 1;
  grid-column-end: span 2;
  background-color: #f3f4f8;
  height: 600px;
  margin-top: 50px;
}

.bg2 {
  grid-column-start: 1;
  grid-column-end: span 2;
  background-color: white;
  height: 390px;
}

.bg3 {
  grid-column-start: 1;
  grid-column-end: span 2;
  background-color: white;
  height: 480px;
}

.bg4 {
  grid-column-start: 1;
  grid-column-end: span 1;
  background-color: white;
  height: 550px;
}

.bg5 {
  grid-column-start: 2;
  grid-column-end: span 1;
  background-color: white;
  height: 550px;
}

.bg6 {
  grid-column-start: 1;
  grid-column-end: span 2;
  background-color: white;
  height: 655px;
}

/*phone screen*/
@media only screen and (max-width: 600px) {

main {
  display:grid;
  grid-template-columns
  grid-auto-rows:min-content;
  margin: 0 auto;
}

img {
  display: grid;
  margin: 0 auto;
}

.block1 {
 margin-right:1rem;
 margin-left:2rem;
}

.blockline {
 margin-right:1rem;
 margin-left:1rem;
 width: 70%;
}

.block2 {
 margin-right:1rem;
 margin-left:2rem;
 width: 400px;
}

.block3 {
 margin-right:1rem;
 margin-left:2rem;
 grid-column:1 / 2;
 width: 400px;
}

.block1_round_black {
 width: 400px;
 margin-left: 1rem;
}

.block2_round_black {
 grid-column:1 / 2;
 width: 400px;
 margin-left: 1rem;
}

.block3_round_black {
 grid-column:1 / 2;
 width: 400px;
 margin-left: 1rem;
}

.block3_round_white {
 grid-column:1 / 2;
 width: 400px;
 margin-left: 1rem;
}

.bg2 {
  height: 290px;
}

.bg1 {
  background-color: #f3f4f8;
  height: 400px;
  margin-top: 100px;
}

.title {
  font-family: 'graphik', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 2.6rem;
  letter-spacing: -5px;
  margin-bottom: 1rem;
  margin-top: 2.3rem;
}

.subtitle1 {
  font-family: 'graphik', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 0.9rem;
  letter-spacing: 1px;
  color: black;
} 


.block1_round_white {
 height: 700px;
 width: 400px;
 margin-left: 1rem;
}

.bg5 {
 grid-column:1 / 2;
}

.bg6 {
  grid-column-start: 1;
  grid-column-end: span 1;
  height: 900px;
}

.projecttitle {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

}

@media only screen and (max-width: 1300px) {

.bg1 {
  height: 1100px;
}


}
